

{% extends 'app2/base.html' %}
{% load static %}
{% block title %} 
Career 
{% endblock %}
{% block body %}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row pt-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <div class="fs-3">Career </div>
                                </div> 
                                <div class="col-sm-6">
                                    <a href="{% url 'dashboard:career_create' %}" class="btn btn-success mb-2 float-end rounded-0"><i class="mdi mdi-plus-circle me-2"></i> Add New Career</a>
                                </div> 
                            </div>
                        
                            <div class="tab-content ">

                                {% if messages %}
                                    {% for msg in messages %}
                                        <div class="alert alert-{{ msg.tags }} alert-dismissible text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                            <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100 ">
                                    <thead>
                                        <tr>
                                        
                                            <th class="text-nowrap" >S.N</th>
                                            <th class="text-nowrap">Category</th>
                                            <th class="text-nowrap">Company Logo</th>
                                            <th class="text-nowrap">Title </th>
                                            <th class="text-nowrap">Location </th>
                                            <th class="text-nowrap">Created Date</th>
                                            <th class="text-nowrap">Valid Date</th>
                                            <th style="width: 120px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%for career in careers%}
                                    <tr>
                            
                                        <td>
                                            {{forloop.counter}}
                                        </td>
                                        
                                    
                                        <td style="width:auto; text-align:justify;">
                                            {{career.category}}
                                        </td>
                                        <td>
                                            <div class="image-gallery" style="width:auto">
                                                <img class="thumbnail" src="{{career.company_logo.url}}" style="height: 80px; width: 100px;" alt="Thumbnail Image">
                                            </div>
                                            <div class="modal" id="imageModal">
                                                <span class="close-btn" onclick="closeModal()">&times;</span>
                                                <img class="modal-content" id="modalImage">
                                            </div>
                                        
                                            <script src="script.js"></script>
                                        </td>
                                        <td style="width:auto; text-align:justify;">
                                            {{career.job_title}}
                                        </td>

                                        <td style="width:auto; text-align:justify;">
                                            {{career.location}}
                                        </td>

                                        <td style="width:auto; text-align:justify;">
                                            {{career.created_date}}
                                        </td>
                                        <td style="width:auto; text-align:justify;">
                                            {{career.valid_date}}
                                        </td>
                                        
                                    
                                        <td>
                                        
                                            <a href="{% url 'dashboard:career_update' career.id %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="{% url 'dashboard:delete_career' career.id %}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                    </tbody>
                                </table>    
                                
                                
                                <!-- pagination -->
                                {% if is_paginated %}
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% if page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                            </li>
                                        {% endif %}
                                        
                                        {% for num in page_obj.paginator.page_range %}
                                            {% if num == page_obj.number %}
                                                <li class="page-item active">
                                                    <span class="page-link">{{ num }}</span>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                {% endif %}
                                <!-- end pagination -->
                                
                            </div> 
                            <!-- end tab-content-->
                            
                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div> <!-- end row-->



        </div> <!-- container -->
    </div> <!-- content -->
</div>

{%endblock%}