
{% extends 'app2/base.html' %}
{% load static %}
{% block title %} 
Dashboard
{% endblock %}
{% block body %}
<title>dashboard</title>
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">                                    
                                   
                                    <h4 class="page-title">Dashboard</h4>
                                </div>
                            </div>
                        </div>
                   
                        <div class="row">
                            <div class="col-12">
                                <div class="card widget-inline">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-sm-6 col-lg-3">
                                                <a href="">

                                                <div class="card rounded-0 shadow-none m-0">
                                                    <div class="card-body text-center">
                                                        <i class="ri-briefcase-line text-muted font-24"></i>
                                                        <h3><span>Contact Us</span></h3>
                                                        <p class="text-muted font-15 mb-0"></p>
                                                    </div>
                                                </div>
                                            </a>
                                            </div>
                
                                            <div class="col-sm-6 col-lg-3">
                                                <a href="">
                                                <div class="card rounded-0 shadow-none m-0 border-start border-light">
                                                    <div class="card-body text-center">
                                                        <i class="ri-list-check-2 text-muted font-24"></i>
                                                        <h3><span>All News</span></h3>
                                                        <p class="text-muted font-15 mb-0"></p>
                                                    </div>
                                                </div>
                                            </a>
                                            </div>
                
                                            <div class="col-sm-6 col-lg-3">
                                                <a href="">
                                                <div class="card rounded-0 shadow-none m-0 border-start border-light">
                                                    <div class="card-body text-center">
                                                        <i class="ri-group-line text-muted font-24"></i>
                                                        <h3><span>Advertisement</span></h3>
                                                        
                                                        <p class="text-muted font-15 mb-0"></p>
                                                  
                                                    </div>
                                                </div>
                                            </a>
                                            </div>
                
                                            <div class="col-sm-6 col-lg-3">
                                                <a href="">
                                                <div class="card rounded-0 shadow-none m-0 border-start border-light">
                                                    <div class="card-body text-center">
                                                        <i class="ri-line-chart-line text-muted font-24"></i>
                                                        <h3><span>About Us</span> <i class="mdi mdi-up text-success"></i></h3>
                                                        <p class="text-muted font-15 mb-0"></p>
                                                    </div>
                                                </div>
                                            </a>
                                            </div>
                
                                        </div> <!-- end row -->
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->

                        <body style="display: flex; align-items: center; justify-content: center; min-height: 100vh; margin: 0; font-family: Arial, sans-serif;">
                            <div  class="card"style="text-align: center;">
                                <br><br><br><br><br><br><br><br><br><br><br>
                                <h4 style="margin: 0;">WELCOME TO ADMIN HOMEPAGE</h4><br><br><br><br><br><br><br>
                                <br><br><br><br><br><br><br>
                       
                            </div>
                        </body>
                    
                
                        <!-- end row -->


                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

             {%endblock%}