

{% extends 'app2/base.html' %}
{% load static %}
{% block title %} 
{% if instance %}Edit objective{% else %}Add Objective{% endif %}
{% endblock %}
{% block body %}

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">{% if instance %}Edit Objective{% else %}Add Objective{% endif %}
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                      
                        <form method="post" enctype="multipart/form-data" action="{% if not form.initial %}{% url 'dashboard:objective_create' %}{% endif %}">
                            {% csrf_token %}
                            {{form.media}}
                                {% if messages %}
                                {% for msg in messages %}
                                    <div class="alert alert-{{ msg.tags }} alert-dismissible text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                        <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            {% for field in form %}
                                            <div class="col-xl-{% if forloop.last %}12{% else %}6{% endif %}">
                                                {{field.label}}
                                                <div class="mb-3">
                                                    {{field}}
                                                </div>
                                            </div>
                                            {% endfor %}

                                         
                                           
                                          
                                            
                                            <div class="col-12 ">
                                            {% if form.initial %}
                                                <button type="submit" class="btn btn-danger float-center chat-send waves-effect waves-light">Update </button>
                                            {% else %}
                                                <button type="submit" class="btn btn-danger float-center chat-send waves-effect waves-light">Add </button>
                                            {% endif %}
                                            </div>
                                        </div>
                                        <!-- end row -->

                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->
                    </form>

                    </div> <!-- container -->

                </div> <!-- content -->

       {%endblock%}