

{% extends 'app2/base.html' %}
{% load static %}
{% block title %} 
{% if instance %}Edit PopUp Ads{% else %}Edit PopUp Ads{% endif %}
{% endblock %}
{% block body %}
<title>{% if instance %}Edit PopUp Ads{% else %}Edit PopUp Ads{% endif %}
</title>

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">{% if instance %}Edit PopUp Ads{% else %}Edit PopUp Ads{% endif %}
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                      
                        <form method="post" enctype="multipart/form-data" action="{% if instance %}{% url 'dashboard:popUpAds' %}{% else %}{% url 'dashboard:popUpAds' %}{% endif %}">
                            {% csrf_token %}
                                {% if messages %}
                                {% for msg in messages %}
                                    <div class="alert alert-{{ msg.tags }} alert-dismissible text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                        <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-xl-12">
                                                
                                                <div class="mb-3">
                                                    <label for="{{ form.url.id_for_label }}" class="form-label">URL Link</label>
                                                    <input type="url" name="{{ form.url.name }}" id="{{ form.url.id_for_label }}" class="form-control" 
                                                           value="{% if instance %}{{ instance.url }}{% endif %}" placeholder="Enter url">
                                                </div>
                                                
                                                <div class="mb-3 mt-3 mt-xl-0">
                                                    <label for="{{ form.image.id_for_label }}" class="form-label">Image :</label>
                                                    <input type="file" name="{{ form.image.name }}" id="{{ form.image.id_for_label }}" class="form-control custom-class" {% if not instance %}required{% endif %} onchange="showPreview(this);">
                                                    <div id="imageContainer" style="width:auto; height:auto;">   
                                                        <img class="img-fluid" id="imagePreview" src="{% if instance %}{{ instance.image.url }}{% endif %}" alt="" >
                                                    </div>
                                                </div><br><br>
                                            </div> <!-- end col-->

                                           
                                            </div> <!-- end col-->
                                            
                                            <div class="col-auto">
                                            {% if instance %}
                                                <button type="submit" class="btn btn-danger chat-send waves-effect waves-light">Update Pup-Up Ads</button>
                                            {% else %}
                                                <button type="submit" class="btn btn-danger chat-send waves-effect waves-light">Add Pup-Up Ads</button>
                                            {% endif %}
                                            </div>
                                        </div>
                                        <!-- end row -->

                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->
                    </form>

                    </div> <!-- container -->

                </div> <!-- content -->

       {%endblock%}