

{% extends 'app2/base.html' %}
{% load static %}
{% block title %} 
Resources {{resource_type}}
{% endblock %}
{% block body %}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row pt-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <div class="fs-3 text-capitalize">Our {{resource_type}} </div>
                                </div> 
                                <div class="col-sm-6">
                                    <a href="{% url 'dashboard:news_resources_create' resource_type %}" class="btn btn-success mb-2 float-end rounded-0 text-capitalize"><i class="mdi mdi-plus-circle me-2"></i> Add {{resource_type}}</a>
                                </div> 
                            </div>
                        
                            <div class="tab-content ">
                                {% if messages %}
                                    {% for msg in messages %}
                                        <div class="alert alert-{{ msg.tags }} alert-dismissible text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                            <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100 ">
                                    <thead>
                                        <tr>
                                            <th >S.N</th>
                                            <th>Title</th>
                                            <th>Image</th>
                                            <th>Description</th>
                                            <th style="width: 170px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%for news in news_resources %}
                                    <tr>
                            
                                        <td>
                                            {{forloop.counter}}
                                        </td>
                                       
                                        <td style="width:auto; text-align:justify;">
                                            {{news.title}}
                                        </td>
                                        <td>
                                            <div class="image-gallery" style="width:auto">
                                                <img class="thumbnail" src="{{news.image.url}}" style="height: 200px; width: auto;" alt="Thumbnail Image">
                                            </div>
                                            <div class="modal" id="imageModal">
                                                <span class="close-btn" onclick="closeModal()">&times;</span>
                                                <img class="modal-content img-fluid" id="modalImage">
                                            </div>
                                        
                                            <script src="script.js"></script>
                                        </td>
                                        <td style="width:auto; text-align:justify;">
                                            {{news.descriptions|safe|truncatewords:20}}
                                        </td>
                                    
                                    
                                        
                                    
                                        <td>
                                            <a href="" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                            <a href="{% url 'dashboard:resource_update' news.slug %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            <a href="" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                    </tbody>
                                </table>                                           
                                
                            </div> 
                            <!-- end tab-content-->
                            
                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div> <!-- end row-->



        </div> <!-- container -->
    </div> <!-- content -->
</div>

{%endblock%}