{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Blogs 
{% endblock %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="
      background-image:url(https://4984701.fs1.hubspotusercontent-na1.net/hubfs/4984701/Imdaad_2019/Images/Blog/News-01-01-01.jpg);
      background-size:cover;">
      <div class="container ">

        <ol>
          <li><a href="/" class="text-white">Home</a></li>
          <li class="text-white">Blog</li>
        </ol>
        <center>
          <h2 class="text-white bg-danger w-50 p-3">Blog</h2>
        </center>

      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section class="pt-0" style="background-image:url('https://4984701.fs1.hubspotusercontent-na1.net/hubfs/4984701/Imdaad_2019/Images/Blog/line_bg.png')">

    </section>
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row shadow p-2 bg-white rounded">
          <div class="col-md-3">
            <img src="{% static 'app/assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-9">
            <h4 class="entry-title">
              <a href="">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</a>
            </h4>
            <div class="entry-content">
              <p>
                Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
              </p>
              <div class="read-more">
                <a href="">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="row shadow p-2 bg-white rounded">
          <div class="col-md-3">
            <img src="{% static 'app/assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-9">
            <h4 class="entry-title">
              <a href="">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</a>
            </h4>
            <div class="entry-content">
              <p>
                Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
              </p>
              <div class="read-more">
                <a href="">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <br>

         <div class="row shadow p-2 bg-white rounded">
          <div class="col-md-3">
            <img src="{% static 'app/assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-9">
            <h4 class="entry-title">
              <a href="">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</a>
            </h4>
            <div class="entry-content">
              <p>
                Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
              </p>
              <div class="read-more">
                <a href="">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="row shadow p-2 bg-white rounded">
          <div class="col-md-3">
            <img src="{% static 'app/assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-9">
            <h4 class="entry-title">
              <a href="">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</a>
            </h4>
            <div class="entry-content">
              <p>
                Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
              </p>
              <div class="read-more">
                <a href="">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <br>


        <div class="row shadow p-2 bg-white rounded">
          <div class="col-md-3">
            <img src="{% static 'app/assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-9">
            <h4 class="entry-title">
              <a href="">Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia</a>
            </h4>
            <div class="entry-content">
              <p>
                Similique neque nam consequuntur ad non maxime aliquam quas. Quibusdam animi praesentium. Aliquam et laboriosam eius aut nostrum quidem aliquid dicta.
                Et eveniet enim. Qui velit est ea dolorem doloremque deleniti aperiam unde soluta. Est cum et quod quos aut ut et sit sunt. Voluptate porro consequatur assumenda perferendis dolore.
              </p>
              <div class="read-more">
                <a href="">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <br>

        
        <div class="blog-pagination">
          <ul class="justify-content-center">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  {% endblock %}
 