{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Blogs 
{% endblock %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="
      background-image:url(https://4984701.fs1.hubspotusercontent-na1.net/hubfs/4984701/Imdaad_2019/Images/Blog/News-01-01-01.jpg);
      background-size:cover;">
      <div class="container ">

        <ol>
          <li><a href="/" class="text-white">Home</a></li>
          <li class="text-white">Resource</li>
        </ol>
        <center>
          <h2 class="text-white bg-danger w-50 p-3">Our Resource</h2>
        </center>

      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section class="pt-0" style="background-image:url('https://4984701.fs1.hubspotusercontent-na1.net/hubfs/4984701/Imdaad_2019/Images/Blog/line_bg.png')">

    </section>
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        {% for resource in resources %}
        <div class="row shadow p-2 bg-white rounded">
          <div class="col-md-3">
            <img src="{{resource.image.url}}" alt="" class="img-fluid">
          </div>
          <div class="col-md-9">
            <h4 class="entry-title">
              <a href="{% url 'resources:resource_detail' resource.slug %}">{{resource.title}}</a>
            </h4>
            <div class="entry-content">
              <p>
                  {{resource.descriptions|safe|truncatewords:50}}
              </p>
              <div class="read-more">
                <a href="{% url 'resources:resource_detail' resource.slug %}">Read More</a>
              </div>
            </div>
          </div>
        </div>

        
        <br>
        {% endfor %}

        

        <div class="blog-pagination">
          {% if is_paginated %}
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                  <li class="page-item">
                      <a class="" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="" href="#">&laquo;</a>
                  </li>
              {% endif %}

              {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                      <li class="page-item active"><a >{{ i }}</a></li>
                  {% else %}
                      <li class="page-item">
                          <a class="" href="?page={{ i }}">{{ i }}</a>
                      </li>
                  {% endif %}
              {% endfor %}

              {% if page_obj.has_next %}
                  <li class="page-item">
                      <a href="?page={{ page_obj.next_page_number }}" class="">&raquo;</a>
                  </li>
              {% else %}
                  <li class="page-item disabled">
                      <a class="">&raquo;</a>
                  </li>
              {% endif %}
          </ul>
      {% endif %}

        </div>
        

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

  {% endblock %}
 