{% extends 'app/base.html' %}
{% load static %} 
{% block title %}
Careers 
{% endblock %}
{% block content %}
<style>
    .form-control{
        width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    }

    .job_types {
        display:flex; 
        zoom: 1;
        background: #f9f9f9;
        border-top: 1px solid #e5e5e5;
        font-size: .83em;
        list-style: none outside;
        margin: 0;
        padding: 0;
    }
    .form-control{
        border-color: black;
        outline-color: none;
        box-shadow: none;
        border-radius: 0px;
    
    }
</style>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="
      background-image:url(https://4984701.fs1.hubspotusercontent-na1.net/hubfs/4984701/Imdaad_2019/Images/Blog/News-01-01-01.jpg);
      background-size:cover;">
      <div class="container ">

        <ol>
          <li><a href="/" class="text-white">Home</a></li>
          <li class="text-white">Careers</li>
        </ol>
        <center>
          <h2 class="text-white bg-danger w-50 p-3">Careers</h2>
        </center>

      </div>
    </section>
    <!-- End Breadcrumbs -->
    <!-- Careers Section  start -->
    <div class="container">
        <form method="GET" action="{% url 'careers:careers' %}">

        <div class="row justify-content-between p-5" style="background: #ededed;">
            <div class="col-md-12 text-center">
                <h4>COME WORK WITH US </h4>
            </div>

            <div class="col-md-6 pt-2 pb-2">
                {{ form.keywords }}
            </div>
            <div class="col-md-6 pt-2 pb-2">
                {{ form.location }}

            </div>

            <div class="col-md-12 pt-2 pb-2">
                {{ form.category }}

            </div>

            <div class="col-md-12 my-3 text-center">
                <button type="submit" class="btn btn-dark">Search Job</button>
            </div>
            </form>
            <div class="col-md-12  ">
                <ul class=" d-flex justify-content-between job_types p-3">
					<li><label class=" pe-2 freelance"><input class="shadow-none" type="checkbox" name="filter_job_type[]" value="freelance" checked="checked" id="job_type_freelance"> Freelance</label>|</li>
					<li><label class=" pe-2 full-time"><input class="shadow-none" type="checkbox" name="filter_job_type[]" value="full-time" checked="checked" id="job_type_full-time"> Full Time</label>| </li>
					<li><label  class=" pe-2 internship"><input class="shadow-none" type="checkbox" name="filter_job_type[]" value="internship" checked="checked" id="job_type_internship"> Internship</label>| </li>
					<li><label class=" pe-2 part-time"><input class="shadow-none" type="checkbox" name="filter_job_type[]" value="part-time" checked="checked" id="job_type_part-time"> Part Time</label>| </li>
					<li><label class=" pe-2 temporary"><input class="shadow-none" type="checkbox" name="filter_job_type[]" value="temporary" checked="checked" id="job_type_temporary"> Temporary</label>| </li>
			    </ul>
            </div>
        </div>
    </div>
    <!-- end careers section -->

    <section id="blog" class="blog pt-2" >
        <div class="container" data-aos="fade-up">
            {% for career in careers %}
            <div class="row bg-white shadow py-2 my-2 ">
                <div class="col-md-2">
                    <div class="pt-1">
                        <img src="{{career.company_logo.url}}" alt="" class="img-fluid h-75 w-75">
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'careers:career_detail' career.slug %}"  >
                        <div class="pt-2">
                            {{career.job_title}}
                        </div>
                    </a>

                </div>
                <div class="col-md-2">
                    <div class="text-muted pt-3"> {{career.location}}</div>
                </div>
                <div class="col-md-2">
                    <div class="text-muted pt-3"> 3 month ago.</div>
                </div>
            </div>
            {% endfor %}

          
          
          
  
          
            <div class="blog-pagination">
                {% if is_paginated %}
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="" href="#">&laquo;</a>
                        </li>
                    {% endif %}
      
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active"><a >{{ i }}</a></li>
                        {% else %}
                            <li class="page-item">
                                <a class="" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
      
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.next_page_number }}" class="">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="">&raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
      
              </div>
  
        </div>
      </section>

  </main>
  <!-- End #main -->

{% endblock %}