{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Login 
{% endblock %}
{% block content %}
<style>
    .password-toggle{position: absolute;
        right: 10px;
        top: 15px;
    }
    
    .form-control:focus {
        outline: none;
        box-shadow: none; 
        border-color:black;
    }
</style>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mb-0" style="
      background-image:url(https://4984701.fs1.hubspotusercontent-na1.net/hubfs/4984701/Imdaad_2019/Images/Blog/News-01-01-01.jpg);
      background-size:cover;">
      <div class="container ">

        <ol>
          <li><a href="/" class="text-white">Home</a></li>
          <li class="text-white">Login</li>
        </ol>
        <center>
          <h2 class="text-white bg-danger w-50 p-3">Login</h2>
        </center>

      </div>
    </section>
    <!-- End Breadcrumbs -->
    <!-- Login 8 - Bootstrap Brain Component -->
    <section class="bg-light p-sm-0 p-md-3 p-xl-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="card border-light-subtle shadow-sm">
                        <div class="row g-0">
                            <div class="col-12 col-md-12 d-flex align-items-center justify-content-center">
                                <div class="col-12 col-lg-11 col-xl-12">
                                    <div class="card-body pt-4">
                                        <div class="row">
                                            <div class="col-12">
                                            <div class="mb-3">
                                                <div class="text-center mb-4">
                                                <a href="/">
                                                    <img class="img-fluid" src="{{organization_settings.logo.url}}" alt="Gold Plyaer Logo" >
                                                </a>
                                                </div>
                                                <h4 class="text-center">Welcome back you've been missed!</h4>
                                            </div>
                                            </div>
                                        </div>
                                        
                                        <form method="POST" action="{% url 'account:login' %}">
                                            {% csrf_token %} 
                                            {% if messages %}
                                                {% for msg in messages %}
                                                <div class="alert alert-{{ msg.tags }} alert-dismissible text-white text-bg-{{ msg.tags }} border-0 fade show" role="alert">
                                                    <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="alert" aria-label="Close"></button>
                                                    <strong>{% if msg.tags == 'success' %}Success{% elif msg.tags == 'warning' %}Warning{% endif %} - </strong>{{ msg.message }}
                                                </div>
                                                {% endfor %}
                                            {% endif %}
                                            <div class="row gy-3 overflow-hidden">
                                                <div class="col-12">
                                                    <div class="form-floating">
                                                    <input type="email" class="form-control" name="{{user_login_form.email.name}}" id="email" placeholder="name@example.com" required>
                                                    <label for="email" class="form-label">Email</label>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating">
                                                        <input type="password" class="form-control" name="{{user_login_form.password.name}}" id="password" value="" placeholder="Password" required>
                                                        <label for="password" class="form-label">Password</label>
                                                        <span class="password-toggle" onclick="togglePasswordVisibility('password', 'togglePasswordIcon1')">
                                                            <i class="bi bi-eye-slash" id="togglePasswordIcon1"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            
                                            
                                                <div class="col-12">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" value="1" name="remember_me" id="remember_me">
                                                        <label class="form-check-label text-secondary" for="remember_me">
                                                        Keep me logged in
                                                    </label>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="d-grid">
                                                        <button type="submit" class="btn btn-dark btn-lg" type="submit">Log In</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-center mt-3 mb-2">
                                                    <a href="{% url 'account:register' %}" class="link-secondary text-decoration-none">Create new account</a>
                                                    <a href="" class="link-secondary text-decoration-none">Forgot password</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  </main>
  <!-- End #main -->

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const phoneInput = document.getElementById('phone_no');
        phoneInput.addEventListener('input', function() {
            phoneInput.value = phoneInput.value.replace(/\D/g, '');
        });
    });

    

    function togglePasswordVisibility(inputId, iconId) {
        const passwordInput = document.getElementById(inputId);
        const togglePasswordIcon = document.getElementById(iconId);
    
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            togglePasswordIcon.classList.remove('bi-eye-slash');
            togglePasswordIcon.classList.add('bi-eye');
        } else {
            passwordInput.type = 'password';
            togglePasswordIcon.classList.remove('bi-eye');
            togglePasswordIcon.classList.add('bi-eye-slash');
        }
    }
</script>

  {% endblock %}
 