{% extends 'app/base.html' %}
{% load static %} 
{% block title %}
Solution 
{% endblock %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="
      background-image:url({{about_solution.bannar_image.url}});
      background-size:cover;">
      <div class="container ">

        <ol>
          <li><a href="/" class="text-white">Home</a></li>
          <li class="text-white">Solution</li>
        </ol>
        <center>
          <h2 class="text-white bg-danger w-50 p-3">Solution</h2>
        </center>

      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section class="pt-0" style="background-image:url('https://4984701.fs1.hubspotusercontent-na1.net/hubfs/4984701/Imdaad_2019/Images/Blog/line_bg.png')"></section>
    
    <!-- solution detail -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center pt-5">{{about_solution.title}}</h1>
                <br>
                <p>
                  {{about_solution.descriptions|safe}}


                </p>
            </div>
        </div>
    </div>

    <div class="rectangle_line"></div>


   <!-- solution -->
   <div class=" solution container pb-5">
    <div class="row justify-content-evenly">
      {% for solution in allsolutions %}
          {% if forloop.first %}
              <div class="col-lg-6 ps-md-0 pe-md-0 solution-container position-relative">
                <a href="{% url 'app:solution_detail' solution.slug %}">
                  <div class="position-absolute top-50 start-50 translate-middle text-content">
                      <img src="{{ solution.icon_image.url }}" class="img-fluid" height="50" width="50">
                      <br>
                      <span class="fs-4 text-center">{{ solution.title }}</span>
                      <p>{{ solution.short_descriptions }}</p>
                  </div>
                  <img src="{{ solution.image.url }}" class="img-fluid object-fit-cover" style="height: 319px; width: 100%;">
                </a>
              </div>
          {% elif forloop.last %}
              <div class="col-lg-6 ps-md-0 pe-md-0 solution-container position-relative">
                <a href="{% url 'app:solution_detail' solution.slug %}">
                  <div class="position-absolute top-50 start-50 translate-middle text-content">
                      <img src="{{ solution.icon_image.url }}" class="img-fluid" height="50" width="50">
                      <br>
                      <span class="fs-4 text-center">{{ solution.title }}</span>
                      <p>{{ solution.short_descriptions }}</p>
                  </div>
                  <img src="{{ solution.image.url }}" class="img-fluid object-fit-cover" style="height: 319px; width: 100%;">
                </a>
              </div>
          {% else %}
              <div class="col-lg-3 ps-md-0 pe-md-0 solution-container position-relative">
                <a href="{% url 'app:solution_detail' solution.slug %}">
                  <div class="position-absolute top-50 start-50 translate-middle text-content">
                      <img src="{{ solution.icon_image.url }}" class="img-fluid" height="50" width="50">
                      <br>
                      <span class="fs-4 text-center">{{ solution.title }}</span>
                      <p>{{ solution.short_descriptions }}</p>
                  </div>
                  <img src="{{ solution.image.url }}" class="img-fluid object-fit-cover" style="height: 319px; width: 100%;">
                </a>
              </div>
          {% endif %}
      {% endfor %}
    </div>
    </div>
  <!-- end solution -->


  </main><!-- End #main -->

{% endblock %}