{% extends 'app/base.html' %}
{% load static %} 
{% block title %}
Solution 
{% endblock %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="
      background-image:url(https://4984701.fs1.hubspotusercontent-na1.net/hubfs/4984701/Imdaad_2019/Images/Blog/News-01-01-01.jpg);
      background-size:cover;">
      <div class="container ">

        <ol>
          <li><a href="/" class="text-white">Home</a></li>
          <li class="text-white">Testimonials</li>
        </ol>
        <center>
          <h2 class="text-white bg-danger w-50 p-3">Testimonials</h2>
        </center>

      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section class="pt-0" style="background-image:url('https://4984701.fs1.hubspotusercontent-na1.net/hubfs/4984701/Imdaad_2019/Images/Blog/line_bg.png')"></section>
    
    <!-- ======= Testimonials Section ======= -->
<div class="container">
    <div class="row">
      <div class="col-md-8 col-center m-auto">
        <h2>Testimonials</h2>
        <div id="testimonial" class="carousel slide" data-ride="carousel">
          <!-- Carousel -->
          <div class="carousel-inner">
            {% for testimonial in testimonials %}
              <div class="item carousel-item {% if forloop.first %}active {% endif %}">
                <div class="img-box">
                  <img src="{{testimonial.image.url}}" alt="">
                </div>
                <p class="testimonial">
                  {{testimonial.descriptions}}
                </p>
                <p class="overview"><b>{{testimonial.name}}</b>, {{testimonial.position}}</p>
              </div>
            {% endfor %}
          </div>
          
        </div>
      </div>
    </div>
    <div class="rectangle_line"></div>
  
  </div>
  <!-- ======= end Testimonials Section ======= -->
  
  

  </main><!-- End #main -->

  <script>
    $(document).ready(function() {
      $('#myCarousel').carousel({
        interval: 3000, 
        pause: 'hover' 
      });
    </script>  

{% endblock %}