{% extends 'app/base.html' %}
{% load static %} 
{% block title %}
Solution 
{% endblock %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="
      background-image:url(https://4984701.fs1.hubspotusercontent-na1.net/hubfs/4984701/Imdaad_2019/Images/Blog/News-01-01-01.jpg);
      background-size:cover;">
      <div class="container ">

        <ol>
          <li><a href="/" class="text-white">Home</a></li>
          <li class="text-white">Testimonials</li>
        </ol>
        <center>
          <h2 class="text-white bg-danger w-50 p-3">Testimonials</h2>
        </center>

      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section class="pt-0" style="background-image:url('https://4984701.fs1.hubspotusercontent-na1.net/hubfs/4984701/Imdaad_2019/Images/Blog/line_bg.png')"></section>
    
    <!-- ======= Testimonials Section ======= -->
<div class="container">
    <div class="row">
      <div class="col-md-8 col-center m-auto">
        <h2>Testimonials</h2>
        <div id="testimonial" class="carousel slide" data-ride="carousel">
          <!-- Carousel -->
          <div class="carousel-inner">
            <div class="item carousel-item active">
              <div class="img-box"><img src="https://i.ibb.co/d5DY64w/img1.jpg" alt=""></div>
              <p class="testimonial">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
              <p class="overview"><b>Jennifer Smith</b>, Office Worker</p>
            </div>
            <div class="item carousel-item">
              <div class="img-box"><img src="https://i.ibb.co/5FF1vqz/img2.jpg" alt=""></div>
              <p class="testimonial">Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget nisi a mi suscipit tincidunt. Utmtc tempus dictum risus. Pellentesque viverra sagittis quam at mattis. Suspendisse potenti. Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
              <p class="overview"><b>Dauglas McNun</b>, Financial Advisor</p>
            </div>
            <div class="item carousel-item">
              <div class="img-box"><img src="https://i.ibb.co/Trv7hDv/img3.jpg" alt=""></div>
              <p class="testimonial">Phasellus vitae suscipit justo. Mauris pharetra feugiat ante id lacinia. Etiam faucibus mauris id tempor egestas. Duis luctus turpis at accumsan tincidunt. Phasellus risus risus, volutpat vel tellus ac, tincidunt fringilla massa. Etiam hendrerit dolor eget rutrum.</p>
              <p class="overview"><b>Hellen Wright</b>, Athelete</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="rectangle_line"></div>
  
  </div>
  <!-- ======= end Testimonials Section ======= -->
  
  

  </main><!-- End #main -->

  <script>
    $(document).ready(function() {
      $('#myCarousel').carousel({
        interval: 3000, 
        pause: 'hover' 
      });
    </script>  

{% endblock %}